In [12]:
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

from env import user, password, host
import acquire_zillow
import sum
import prepare_zillow

In [13]:
df = acquire_zillow.get_zillow()
df = prepare_zillow.handle_missing_values(prepare_zillow.zillow_single_unit(df))

In [16]:
df.dropna(inplace=True)
sum.df_summary(df)

--- Shape: (32170, 35)
--- Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32170 entries, 3 to 77489
Data columns (total 35 columns):
propertylandusetypeid           32170 non-null float64
heatingorsystemtypeid           32170 non-null float64
parcelid                        32170 non-null int64
id                              32170 non-null int64
logerror                        32170 non-null float64
transactiondate                 32170 non-null object
id                              32170 non-null int64
bathroomcnt                     32170 non-null float64
bedroomcnt                      32170 non-null float64
buildingqualitytypeid           32170 non-null float64
calculatedbathnbr               32170 non-null float64
calculatedfinishedsquarefeet    32170 non-null float64
finishedsquarefeet12            32170 non-null float64
fips                            32170 non-null float64
fullbathcnt                     32170 non-null float64
latitude                        32170 non-null float64
longitude                       32170 non-null float64
lotsizesquarefeet               32170 non-null float64
propertycountylandusecode       32170 non-null object
propertyzoningdesc              32170 non-null object
rawcensustractandblock          32170 non-null float64
regionidcity                    32170 non-null float64
regionidcounty                  32170 non-null float64
regionidzip                     32170 non-null float64
roomcnt                         32170 non-null float64
unitcnt                         32170 non-null float64
yearbuilt                       32170 non-null float64
structuretaxvaluedollarcnt      32170 non-null float64
taxvaluedollarcnt               32170 non-null float64
assessmentyear                  32170 non-null float64
landtaxvaluedollarcnt           32170 non-null float64
taxamount                       32170 non-null float64
censustractandblock             32170 non-null float64
heatingorsystemdesc             32170 non-null object
propertylandusedesc             32170 non-null object
dtypes: float64(27), int64(3), object(5)
memory usage: 8.8+ MB
--- Descriptions
        propertylandusetypeid  heatingorsystemtypeid             parcelid  \
count               32,170.00              32,170.00            32,170.00
unique                    nan                    nan                  nan
top                       nan                    nan                  nan
freq                      nan                    nan                  nan
mean                   261.00                   3.93        11,876,020.91
std                      0.00                   2.48           728,434.75
min                    261.00                   2.00        10,711,855.00
25%                    261.00                   2.00        11,206,218.75
50%                    261.00                   2.00        11,899,865.00
75%                    261.00                   7.00        12,515,001.75
max                    261.00                  20.00        13,102,228.00

                         id             logerror transactiondate  \
count             32,170.00            32,170.00           32170
unique                  nan                  nan             242
top                     nan                  nan      2017-06-30
freq                    nan                  nan             518
mean              38,855.64                 0.01             NaN
std               22,586.88                 0.17             NaN
min                    3.00                -4.66             NaN
25%               19,150.25                -0.03             NaN
50%               38,809.50                 0.01             NaN
75%               58,235.00                 0.04             NaN
max               77,613.00                 5.26             NaN

                         id          bathroomcnt           bedroomcnt  \
count             32,170.00            32,170.00            32,170.00
unique                  nan                  nan                  nan
top                     nan                  nan                  nan
freq                    nan                  nan                  nan
mean           1,497,537.75                 2.17                 3.20
std              856,557.80                 1.01                 0.92
min                1,391.00                 1.00                 0.00
25%              765,267.00                 2.00                 3.00
50%            1,501,271.50                 2.00                 3.00
75%            2,239,937.25                 3.00                 4.00
max            2,973,669.00                11.00                11.00

        buildingqualitytypeid  ...              unitcnt            yearbuilt  \
count               32,170.00  ...            32,170.00            32,170.00
unique                    nan  ...                  nan                  nan
top                       nan  ...                  nan                  nan
freq                      nan  ...                  nan                  nan
mean                     5.85  ...                 1.00             1,956.74
std                      1.78  ...                 0.02                21.94
min                      1.00  ...                 1.00             1,878.00
25%                      4.00  ...                 1.00             1,947.00
50%                      7.00  ...                 1.00             1,954.00
75%                      7.00  ...                 1.00             1,967.00
max                     12.00  ...                 2.00             2,015.00

        structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                    32,170.00            32,170.00            32,170.00
unique                         nan                  nan                  nan
top                            nan                  nan                  nan
freq                           nan                  nan                  nan
mean                    167,173.71           445,360.24             2,015.00
std                     208,419.49           610,360.35                 0.00
min                         179.00             3,206.00             2,015.00
25%                      68,894.00           151,443.00             2,015.00
50%                     115,961.00           297,935.00             2,015.00
75%                     189,277.00           507,987.50             2,015.00
max                   7,259,305.00        18,530,022.00             2,015.00

        landtaxvaluedollarcnt            taxamount    censustractandblock  \
count               32,170.00            32,170.00              32,170.00
unique                    nan                  nan                    nan
top                       nan                  nan                    nan
freq                      nan                  nan                    nan
mean               278,186.53             6,065.39  60,387,644,265,448.22
std                448,606.07             8,091.06   2,356,466,905,287.66
min                    159.00               120.84  60,371,011,101,000.00
25%                 51,200.50             2,394.80  60,372,340,001,254.25
50%                165,935.00             4,239.04  60,374,307,211,004.50
75%                336,323.00             6,773.74  60,375,749,013,004.75
max             14,585,714.00           276,797.83 483,030,105,084,015.00

       heatingorsystemdesc        propertylandusedesc
count                32170                      32170
unique                   3                          1
top                Central  Single Family Residential
freq                 19805                      32170
mean                   NaN                        NaN
std                    NaN                        NaN
min                    NaN                        NaN
25%                    NaN                        NaN
50%                    NaN                        NaN
75%                    NaN                        NaN
max                    NaN                        NaN

[11 rows x 35 columns]
--- Nulls By Column

NameError: name 'pd' is not defined